.questions--list {


  h1 {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 100%;
  }

  aside {
    margin-bottom: 20px;
    @media(max-width: 768px) {
      width: 100%;
    }
    .btn {
      margin: 0 auto;
      margin-bottom: 20px;
      @media(max-width: 768px) {
        width: 100%
      }
    }

  }

  .pagination {
    justify-content: center;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .questions-card {
    .questions-card__answers {
      padding-top: 15px;
      border-top: 1px solid $azureish_white;
      margin-top: 15px;
      @media (min-width: 768px) {
        padding-top: 30px;
        margin-top: 30px;
      }
    }
  }

  .questions-card {
    background: #F6F9FC;
    margin-bottom: 20px;
  }
}

@import "header";

