.pages{
  &--fix{
    padding: 30px 15px;
    form{

      .form--item{

        .send{
          width: 100%;
        }

        &>div{
          flex-wrap: wrap;
        }
      }
    }

    &__thank{

      &.hidden{
        display: none;
      }

      width: 100%;
      max-width: 478px;
      margin: auto;
      text-align: center;

      &-img{
        padding-bottom: 30px;
        padding-top: 30px;
        img{
          margin: auto;
        }
      }
      &-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $dim_gray;
        padding-bottom: 30px;
      }

      &-btns{
        width: 100%;
        max-width: 345px;
        margin: auto;

        .btn{
          width: 100%;
          margin-bottom: 10px;

          img{
            padding-left: 20px;
          }
        }
      }
    }
    &__error{
      padding-top: 60px;
      padding-bottom: 85px;
    }
    &__center{
      text-align: center;
    }

    @include desktop{
      
      padding: $gap-6 $gap-8 * 2;

        form{
          width:40%;

          .form--item{

            &>div{
              flex-wrap: nowrap;
            }
            label{
              flex-basis: 30%;
              text-align:right;
            }
            .send{
              width: auto;
            }
          }
        }
      &__error{
        padding-top: $gap-12 * 2;
        padding-bottom: $gap-12 * 2;
      }
    }
  }
}