$sans_serif: Helvetica, Arial, sans-serif;
$serif: Georgia, serif;
html {
  background-color: #eee;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  padding-bottom: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

header {
  position: sticky;
  z-index: 9999;
  top: 0px;

  background-color: rgb(31, 142, 250);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
  display: flex;
  padding: 13px 20px 12px;
  .hamburger{
    margin-left: auto;
    display: flex;
    align-items: center;
    color:#fff;
  }
}

#sidebar{
  padding: 10px;
  background: #fff;
  .sidebar{
    list-style: none;
    color: #001b36;
    padding-left: 0;
    li{
      a{
        width: 100%;
        display: block;
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        padding-bottom: 10px;
      }
    }
  }
}
amp-img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

.article-body {
  margin: 0 auto;
  max-width: 800px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.article {
  padding: 0 15px;

  &--row {
    display: flex;
    flex-wrap: wrap;
  }

  &--column {
    display: block;
    width: 100%;
  }
}
a{
  word-break: break-all;
}