.receiver{
    &--form{
        background-color: $white;
        padding: $gap-3;

        &__item{
            box-shadow: 0px 2px 20px $shadow-color_third;
            text-align: center;
            border-radius: $border_radius-6;
            padding: $gap-3;
            margin-bottom: $gap-4;
        }
        &__image{
            width: 100%;
            max-width: 100px;
            margin: auto;
            border-radius: $border_radius-100;
            border: 1px solid $azureish_white;
            overflow: hidden;
          }
          &__name{
            padding-top: $gap-2;
            padding-bottom: $gap-4;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            text-align: center;
          }
          &__btn{
            width: 100%;
            padding-top: $gap-3;
            padding-bottom: $gap-3;
          }
          &__close{
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-align: center;
            cursor: pointer;
          }
          
        @media (min-width: 768px){
            padding: 30px;
            &__item{
                box-shadow: none;
                width: calc((100% / 3) * 2);
                margin: 30px auto 0;
            }
            &__close{
                padding-top: $gap-1;
                padding-bottom: $gap-4;
            }
        }
    }
}