.choco-partners {

  &__Chocolife {
    background-image: url("/img/choco-partners/Chocolife.svg");

  }

  &__Chocotravel {
    background-image: url("/img/choco-partners/Chocotravel.svg");
  }

  &__Lensmark {
    background-image: url("/img/choco-partners/Lensmark.svg");
  }

  &__Chocofood {
    background-image: url("/img/choco-partners/Chocofood.svg");
  }

  &__iDoctor {
    background-image: url("/img/choco-partners/iDoctor.svg");
  }

  &__DocHelps {
    background-image: url("/img/choco-partners/DocHelps.svg");
  }

}
