//colors
.dodger_blue {
  color: $dodger_blue;
}

.yankees_blue {
  color: $yankees_blue;
}

.ghost_white {
  color: $ghost_white;
}

.very_light_azure {
  color: $very_light_azure;
}

.picton_blue {
  color: $picton_blue;
}

.azure {
  color: $azure;
}

.french_blue {
  color: $french_blue;
}

.dark_imperial_blue {
  color: $dark_imperial_blue;
}

.prussian_blue {
  color: $prussian_blue;
}

.maastricht_blue {
  color: $maastricht_blue;
}

.rich_black {
  color: $rich_black;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.azureish_white {
  color: $azureish_white;
}

.lavender_grey {
  color: $lavender_grey;
}

.manatee {
  color: $manatee;
}

.dim_gray {
  color: $dim_gray;
}

.charcoal {
  color: $charcoal;
}

.coral_red {
  color: $coral_red;
}

.red {
  color: $red;
}

.stil_de_grain_yellow {
  color: $stil_de_grain_yellow;
}

.carribbean_green {
  color: $carribbean_green;
}

.vivid_amber {
  color: #CC9F0A;
}

.paolo_veronese {
  color: #059E78;
}

//bg
.bg-dodger_blue {
  background-color: $dodger_blue;
}

.bg-yankees_blue {
  background-color: $yankees_blue;
}

.bg-ghost_white {
  background-color: $ghost_white;
}

.bg-very_light_azure {
  background-color: $very_light_azure;
}

.bg-picton_blue {
  background-color: $picton_blue;
}

.bg-azure {
  background-color: $azure;
}

.bg-french_blue {
  background-color: $french_blue;
}

.bg-dark_imperial_blue {
  background-color: $dark_imperial_blue;
}

.bg-prussian_blue {
  background-color: $prussian_blue;
}

.bg-maastricht_blue {
  background-color: $maastricht_blue;
}

.bg-rich_black {
  background-color: $rich_black;
}

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.bg-azureish_white {
  background-color: $azureish_white;
}

.bg-lavender_grey {
  background-color: $lavender_grey;
}

.bg-manatee {
  background-color: $manatee;
}

.bg-dim_gray {
  background-color: $dim_gray;
}

.bg-charcoal {
  background-color: $charcoal;
}

.bg-coral_red {
  background-color: $coral_red;
}

.bg-red {
  background-color: $red;
}

.bg-stil_de_grain_yellow {
  background-color: $stil_de_grain_yellow;
}

.bg-carribbean_green {
  background-color: $carribbean_green;
}
