.layout{
  &--profile{
    display: flex;
    flex-wrap:wrap;
    padding: $gap-3 0;
    background-color: $white;
    & > *{
      position: relative;
      max-width: 100%;
    }
    main{
      flex-basis: 100%;

    }
    aside{
      flex-basis: 100%;
    }
  }
}

@media(min-width: 768px){
  .layout{
    &--profile{
      background-color: $white;
      display: flex;
      flex-wrap:wrap;
      padding: 0 $gap-6*2;
      main{
        position: relative;
        padding: 0 $gap-4 $gap-6 $gap-4;
        border-radius: $border_radius-6;
        background-color: $white;
        &.with-gallery{
          padding-top: 0;
        }

      }
      aside{
        
      }
    }
  }


}