.swiper-container{
  .swiper-wrapper{
    .swiper-slide{
        .swiper-lazy{
          opacity:0;
          transition: opacity .1s ease-in-out ;
          object-fit: cover;
          &-loaded{
            opacity:1;
          }
        }

    }
  }

}
.swiper__slider{
  position: relative;
  .swiper-container{
    margin: 0 40px;
  }
  .swiper-button-next{
    right:0;
  }
}
